.template-card{
    width: 100%;
    transition: all 1s;
    /* height: 300px; */
  }

  .template-card .image, .cms__alert_card .image {
      height: 250px;
      width: 100%;
  }

  .template-card .image img, .cms__alert_card .image img {
      width: 100%;
      height: 100%;
      object-fit: fill;
  }

  .template-card:hover {
      transform: scale(1.1);
  }