#root {
  position: relative;
  background-color: none;
}

.section {
  /*padding-top: 90px;*/
  margin-bottom: 150px !important;
  min-height: 74vh;
}

table tr td {
  padding: 15px;
}

.fullscreen {
  width: 100%;
  height: 45vh;
}

img {
  object-fit: contain;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://images.unsplash.com/photo-1618425978222-3a0490ee522c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"), rgb(0, 0, 0);
  /*background-repeat: no-repeat;*/
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 1s;
}

.preloader h4 {
  display: inline;
  position: relative;
  color: #fff;
}

.preloader h5 {
  font-style: italic;
}
.preloader h4 strong::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(51, 243, 137);
  z-index: -1;
  transform: skewX(-15deg);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: -1;
  transform: translateY(-100%);
}

/* Reg user */

.divider {
  width: 100%;
  border-bottom: 1px solid rgb(133, 125, 125);
}

.passport-holder {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(133, 125, 125);
  position: relative;
}

.passport-holder img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.passport-holder input {
  position: absolute;
  bottom: -20px;
}

input, select {
  background: transparent !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.preloader h4 strong::before {
  display: none;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .fullscreen {
    height: 100vh;
  }

  .preloader h4 strong::before {
    display: block;
  }
}

.err {
  border: 1px solid red !important;
}